<div ng-include="'partials/app-navbar'"></div>

<h3>My Polls</h3>

<div class="table-responsive" ng-show="polls.length">
<table class="table table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>Question</td>
      <td>Created</td>
      <td class="text-center">Action</td>
      <td class="text-center">Status</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="poll in polls">
      <td>{{$index + 1}}</td>
      <td>{{poll.question | limitTo:35}}<span ng-show="poll.question.length > 35">...</span></td>
      <td><span tooltip="{{poll.created_at | date:'dd MMM yyyy, hh:mm a'}}" am-time-ago="poll.created_at"></span></td>
      <td class="text-center">
        <button type="button" class="btn btn-default btn-xs" ng-click="view(poll._id)" ng-disabled="!poll.active"><span class="glyphicon glyphicon-qrcode"></span> View</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="edit(poll._id)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</button>
      </td>
      <td ng-show="poll.active && !poll.activeUpdating" class="text-center"><button tooltip="Active" type="button" class="btn btn-success btn-xs" ng-click="deactivate(poll)"><span class="glyphicon glyphicon-off"></span></button></td>
      <td ng-show="!poll.active && !poll.activeUpdating" class="text-center"><button tooltip="Inactive" type="button" class="btn btn-danger btn-xs" ng-click="activate(poll)"><span class="glyphicon glyphicon-off"></span></button></td>
      <td ng-show="poll.activeUpdating" class="text-center"><button tooltip="Updating" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-off"></span></button></td>
    </tr>
  </tbody>
</table>
</div>
<div ng-hide="polls !== undefined">
<p>Loading polls...</p>
</div>
<div ng-show="polls.length === 0">
<p>You do not have any polls at the moment.</p>
</div>

<a href="/app/polls/new" class="btn btn-primary btn-sm pull-right" role="button"><span class="glyphicon glyphicon-plus"></span> New Poll</a>
