<div ng-include="'partials/app-navbar'"></div>

<div class="container">

  <div class="page-header">
    <h1>My Polls</h1>
    <div class="pull-right">
      <button class="btn btn-default btn-sm help-button" role="button" ng-click="help()"><span class="glyphicon glyphicon-question-sign"> Help</span></button>
      <a href="/app/polls/new" class="btn btn-primary btn-sm new-poll-button" role="button"><span class="glyphicon glyphicon-plus"></span> New Poll</a>
    </div>
    <p>Manage existing polls or create new ones.</p>
  </div>

  <div class="table-responsive" ng-show="polls.length">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:relative">Question</td>
          <th style="width:relative">Description</td>
          <th style="width:15%">Created</td>
          <th class="text-center">Action</td>
          <th class="text-center">Status</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="poll in polls">
          <td><a href ng-click="linkToPoll(poll)">{{poll.question | limitTo:35}}<span ng-show="poll.question.length > 35">...</span></a></td>
          <td>{{poll.descript | limitTo:35}}<span ng-show="poll.descript.length > 35">...</span></td>
          <td><span tooltip="{{poll.created_at | date:'dd MMM yyyy, hh:mm a'}}" am-time-ago="poll.created_at"></span></td>
          <td class="text-center">
            <button type="button" class="btn btn-default btn-sm" ng-disabled="poll.isUpdating" ng-click="results(poll)"><span class="glyphicon glyphicon-stats" tooltip="Poll Results"></span></button>
            <button type="button" class="btn btn-default btn-sm" ng-show="poll.active && !poll.activeUpdating" ng-disabled="poll.isUpdating" ng-click="view(poll)"><span class="glyphicon glyphicon-qrcode" tooltip="Get Link"></span></button>
            <button type="button" class="btn btn-default btn-sm" ng-show="!poll.active && !poll.activeUpdating" ng-disabled="poll.isUpdating" ng-click="confirmRemove(poll)"><span class="glyphicon glyphicon-remove" tooltip="Delete"></span></button>
          </td>
          <td ng-show="poll.active && !poll.activeUpdating" class="text-center"><button tooltip="Active" type="button" class="btn btn-success btn-sm" ng-disabled="poll.isUpdating" ng-click="deactivate(poll)"><span class="glyphicon glyphicon-off"></span></button></td>
          <td ng-show="!poll.active && !poll.activeUpdating" class="text-center"><button tooltip="Inactive" type="button" class="btn btn-danger btn-sm" ng-disabled="poll.isUpdating" ng-click="activate(poll)"><span class="glyphicon glyphicon-off"></span></button></td>
          <td ng-show="poll.activeUpdating" class="text-center"><button tooltip="Updating" type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-off"></span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-hide="polls !== undefined">
    <p>Loading polls...</p>
  </div>
  <div ng-show="polls.length === 0">
    <p>You do not have any polls at the moment.</p>
  </div>

</div>
