<div ng-include="'partials/app-navbar'"></div>

<h3>New Poll</h3>

<p>Specify your poll question and answer choices and you're ready to go!</p>

<form role="form" name="newPoll">
  <div class="form-group" ng-class="{'has-feedback has-error': newPoll.question.$error.required && submitButtonPressed}">
    <label for="question" class="control-label">Poll question</label>
    <input type="text" class="form-control" name="question" id="question" placeholder="Ask a question" required ng-model="poll.question">
  </div>

  <div class="form-group">
    <label for="numChoices">Number of choices</label>
    <div class="input-group">
      <input type="number" class="form-control" name="numChoices" id="numChoices" ng-model="numChoices" min="{{numChoicesMin}}" max="{{numChoicesMax}}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-disabled="numChoices <= numChoicesMin" ng-click="numChoices = numChoices - 1">&ndash;</button>
        <button class="btn btn-default" type="button" ng-disabled="numChoices >= numChoicesMax" ng-click="numChoices = numChoices + 1">+</button>
      </span>
    </div>
  </div>

  <div>
    <label for="choice0">Choices</label>
    <ng-form name="choiceForm" ng-repeat="i in getNumber(numChoices) track by $index">
      <div class="form-group" ng-class="{'has-feedback has-error': choiceForm.choice.$error.required && submitButtonPressed}">
        <div class="input-group">
          <span class="input-group-addon">#{{$index + 1}}</span>
          <input type="text" class="form-control" name="choice" ng-model="poll.choices[$index]" required>
        </div>
      </div>
    </ng-form>
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="poll.submitButtonPressed" ng-click="createPoll()">Create Poll</button>
</form>
