<div ng-include="'partials/app-navbar'"></div>

<div class="container">

  <div class="page-header">
    <h1>Profile</h1>
    <p>The following details has been retrieved from your NUSNET account.</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Personal Details</h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{currentUser.name}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{currentUser.email}}</td>
        </tr>
        <tr>
          <th>Identity</th>
          <td>{{currentUser.identity}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div ng-include="'partials/footer'"></div>