<div ng-include="'partials/app-navbar'"></div>

<h3>My Polls</h3>

<div class="table-responsive" ng-show="polls.length">
<table class="table table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>Question</td>
      <td>Created</td>
      <td>Status</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="poll in polls">
      <td>{{$index + 1}}</td>
      <td>{{poll.question}}</td>
      <td><span tooltip="{{poll.created_at | date:'hh:mm a'}}">{{poll.created_at | date:'dd MMM yy'}}</span></td>
      <td ng-show="poll.active">Active</td>
      <td ng-show="!poll.active">Inactive</td>
      <td>
        <button type="button" class="btn btn-default btn-xs" ng-click="view(poll._id)"><span class="glyphicon glyphicon-qrcode"></span> View</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="edit(poll._id)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div ng-show="!polls.length">
<p>You do not have any polls at the moment.</p>
</div>

<a href="/app/polls/new" class="btn btn-primary btn-sm pull-right" role="button"><span class="glyphicon glyphicon-plus"></span> New Poll</a>