<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Login</h1>
    <p>In order to use this application, you first need to log in with your NUSNET account.</p>
  </div>
  <div class="col-sm-12">
    <form class="form" action="/login/nus">
      <button type="submit" class="btn btn-primary"> Sign in with NUS </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr>
    Not registered? <a href="/signup" class="text-center new-account">Create an account.</a>
  </div>
</div>