<div ng-include="'partials/navbar'"></div>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-md-push-8 text-center">
        <img src="images/intro.png">
      </div>
      <div class="col-md-8 col-md-pull-4 text-center">
        <h1 data-fittext="1.4" data-fittext-min="30">Feedbaker is the solution for presenters to get live response from their audience.</h1>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4 feature">
        <img src="images/feature-openid.png">
        <h3>OpenID Integration</h3>
      </div>

      <div class="col-sm-4 feature">
        <img src="images/feature-live-polls.png">
        <h3>Live Polls</h3>
      </div>

      <div class="col-sm-4 feature">
        <img src="images/feature-realtime.png">
        <h3>Real-time Results</h3>
      </div>
    </div>
  </div>
</section>

<section id="process">
  <div class="container text-center">
    <h1>4 Simple Steps</h1>
    <h2 class="lead">With Feedbaker, getting the answers you want have never been easier.</h2>
    <div class="process-line hidden-xs"></div>
    <div class="row process-list">
      <div class="col-sm-3">
        <div class="icon"><span class="glyphicon glyphicon-list-alt"></span></div>
        <h3>Create Poll</h3>
      </div>
      <div class="col-sm-3">
        <div class="icon"><span class="glyphicon glyphicon-send"></span></div>
        <h3>Share Link</h3>
      </div>
      <div class="col-sm-3">
        <div class="icon"><span class="glyphicon glyphicon-dashboard"></span></div>
        <h3>Wait for Answers</h3>
      </div>
      <div class="col-sm-3">
        <div class="icon"><span class="glyphicon glyphicon-stats"></span></div>
        <h3>View Results</h3>
      </div>
    </div>
  </div>
</section>

<section id="story">
  <div class="container text-center">
    <h1>The data boulangerie for NUS</h1>
    <div class="row">
      <div class="col-md-6 col-md-push-3 col-xs-10 col-xs-push-1">
        <h2 class="lead">Feedbaker is the brainchild of Team Jonathans, a summer project created under the NUS Orbital Programme.</h2>
        <p>Our lightweight web application allows presenters to quickly create polls and get instant feedback from the audience &mdash; all this without any expensive systems or devices.</p>
      </div>
    </div>
  </div>
</section>

<section id="technology">
  <div class="container text-center">
    <h1>Built on the latest &amp; fastest web technologies</h1>
      <div class="row">
        <div class="col-sm-3">
          <a href="http://nodejs.org/" target="_blank"><div class="icon"><img src="images/nodejs.png"></div></a>
        </div>
        <div class="col-sm-3">
          <a href="http://mongodb.org/" target="_blank"><div class="icon"><img src="images/mongodb.png"></div></a>
        </div>
        <div class="col-sm-3">
          <a href="http://expressjs.com/" target="_blank"><div class="icon"><img src="images/express.png"></div></a>
        </div>
        <div class="col-sm-3">
          <a href="http://angularjs.org/" target="_blank"><div class="icon"><img src="images/angularjs.png"></div></a>
        </div>
      </div>
  </div>
</section>

<div ng-include="'partials/footer'"></div>
