<div ng-include="'partials/navbar'"></div>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-md-push-8 text-center">
        <img src="images/intro.png">
      </div>
      <div class="col-md-8 col-md-pull-4 text-center">
        <h1 data-fittext="1.4" data-fittext-min="30">Feedbaker is the solution for presenters to get live response from their audience.</h1>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container text-center">
    <h1>Main Features</h1>
    <div class="row">
      <div class="col-sm-4 feature">
        <img src="images/feature-openid.png">
        <h3>OpenID Integration</h3>
      </div>

      <div class="col-sm-4 feature">
        <img src="images/feature-live-polls.png">
        <h3>Live Polls</h3>
      </div>

      <div class="col-sm-4 feature">
        <img src="images/feature-realtime.png">
        <h3>Real-time Results</h3>
      </div>
    </div>
  </div>
</section>

<section id="process">
  <div class="container text-center">
    <h1>4 Simple Steps</h1>
    <h2 class="lead">With Feedbaker, getting the answers you want have never been easier.</h2>
    <div class="process-line hidden-xs"></div>
    <div class="row process-list">
      <div class="col-sm-3">
        <div class="icon"><span class="fa fa-sliders"></span></div>
        <h3>Create Poll</h3>
      </div>
      <div class="col-sm-3">
        <div class="icon"><span class="fa fa-qrcode"></span></div>
        <h3>Share Link</h3>
      </div>
      <div class="col-sm-3">
        <div class="icon"><span class="fa fa-spinner"></span></div>
        <h3>Wait for Answers</h3>
      </div>
      <div class="col-sm-3">
        <div class="icon"><span class="fa fa-bar-chart-o"></span></div>
        <h3>View Results</h3>
      </div>
    </div>
  </div>
</section>

<section id="story">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6 feature">
        <h2>The data boulangerie for NUS</h2>
        <p>
          Feedbaker is the brainchild of Team Jonathans, <br>
          and is a summer project for the NUS Orbital Programme of 2014.
        </p>
        <p>
          Feedbaker is a lightweight web application that allows users to create and share polls
          for all good-natured purposes and effectively eliminates the need for the responder device
          which is costly to replace. Students and staff alike thus have alleviated worries about the operational and logistical concerns of said device.
        </p>
      </div>

      <div class="col-sm-3 feature">
        <img src="images/feature-live-polls.png">
        <h3>Jonathan Lau</h3>
        <p>
          Web Developer
        </p>
      </div>

      <div class="col-sm-3 feature">
        <img src="images/feature-realtime.png">
        <h3>Jonathan Tan</h3>
        <p>
          Web Designer
        </p>
      </div>
    </div>
  </div>
</section>

<div ng-include="'partials/footer'"></div>
