<div class="modal-header">
    <h3 class="modal-title">Poll Management Interface</h3>
</div>
<div class="modal-body">
  <p><strong>Familiarising yourself with the interface</strong></p>
  <p>
    All polls created by you will be listed in the table. Polls will be listed in descending order of recency.
    Descriptions help to differentiate similar/identical polls that may be meant for different audiences.
    Polls are controlled according based on its <em>Status</em>.
</p>
<p>
  <u>Status</u><br>
  Can be toggled <b><font color="00FF00">on (green)</font></b> or <b><font color="#FF0000">off (red)</font></b>.<br>
  Actions available for clicking correspond to the state of the poll.<br>
  The Status of the poll controls whether or not the poll is still open for feedback.<br>
</p>
<p>
  <u>Actions</u><br>
  There are a total of three actions:
  <ul>
    <li><b>Get Link</b></li>
    <p>When the Status is green, clicking on the title of the poll also directs the user to the Get Link page.
    Clicking on this option will display the QR Code and URL for the user to get audiences to navigate to the answering page.</p>
    <li><b>Poll Results</b></li>
    <p>When the Status is red, clicking on the title of the poll also directs the user to the show results page.
    Clicking on this option will display the results to the poll and also the export function for the user to
    extract the results of the polls into a csv spreadsheet.</p>
    <li><b>Delete</b></li>
    <p>When the Status is red, the delete option will be available for the user to click on. Deleting the poll
    will prompt for a confirmation from the user to delete the poll permanently.</p>
  </ul>
</p>
<p>
    And that's as simple as it gets!
</p>
<p>
    Click anywhere to close this guide and return to the main page.
</p>

</div>

<!-- <div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Understood</button>
</div> -->
